# ---------- 数据库配置 ----------
SKY_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
SKY_DATASOURCE_HOST=localhost
SKY_DATASOURCE_PORT=3306
SKY_DATASOURCE_DATABASE=diy_bangle
SKY_DATASOURCE_USERNAME=diy_bangle
SKY_DATASOURCE_PASSWORD=fLW5yPWwnxXmGYpj

# ---------- Redis配置 ----------
SKY_REDIS_HOST=localhost
SKY_REDIS_PORT=6379
SKY_REDIS_PASSWORD=
SKY_REDIS_DATABASE=0

# ---------- 微信云托管对象存储配置 ----------
SKY_WXCLOUD_STORAGE_BUCKET_NAME=7072-prod-6gf1u2dc2e9e4f49-1391651365
SKY_WXCLOUD_STORAGE_REGION=ap-shanghai

# ---------- 微信小程序配置（许愿手作）----------
SKY_WECHAT_APPID=wxe37829cb3b650c0a
SKY_WECHAT_SECRET=61800e62f7eef0480c7df6ca4f423a3d

# ---------- 微信支付基础配置 ----------
SKY_WECHAT_MCHID=1749753904
SKY_WECHAT_MCHSERIALNO=29F4A26030CA3FDB18CAE2B320ACF062C079A16E
SKY_WECHAT_APIV3KEY=72946185039274610582947105382619
SKY_WECHAT_WECHATPAYPUBLICKEYID=PUB_KEY_ID_0117497539042026090500381936001602
SKY_WECHAT_PRIVATEKEYFILEPATH=/app/certs/apiclient_key.pem
SKY_WECHAT_WECHATPAYPUBLICKEYPATH=/app/certs/pub_key.pem

# ---------- 微信支付回调地址 ----------
SKY_WECHAT_NOTIFYURL=https://xuyuan.baibaiyeye.com.cn/notify/paySuccess
SKY_WECHAT_REFUNDNOTIFYURL=https://xuyuan.baibaiyeye.com.cn/notify/refundSuccess
